<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Crash Locations
            </h2>
        </template>
        <div class=" mx-auto">
            <div class="bg-white rounded shadow overflow-x-auto">
                <table class="w-full whitespace-no-wrap">
                    <thead class="bg-gray-50">
                    <tr class="text-left font-bold">
                        <th class="px-6 pt-4 pb-4 font-medium text-gray-500">ID</th>
                        <th class="px-6 pt-4 pb-4 font-medium text-gray-500">Client</th>
                        <th class="px-6 pt-4 pb-4 font-medium text-gray-500">Latitude</th>
                        <th class="px-6 pt-4 pb-4 font-medium text-gray-500">Longitude</th>
                        <th class="px-6 pt-4 pb-4 font-medium text-gray-500">Time</th>
                        <th class="px-6 pt-4 pb-4 font-medium text-gray-500">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="location in locations" :key="location.id"
                        class="hover:bg-gray-100 focus-within:bg-gray-100">
                        <td class="border-t px-6 py-4">
                            <inertia-link class="" :href="route('crash_locations.show', location.id)"
                                          tabindex="-1">
                                {{ location.id }}
                            </inertia-link>
                        </td>
                        <td class="border-t px-6 py-4 ">
                            <inertia-link class="" :href="route('clients.show', location.client.id)"
                                          tabindex="-1" v-if="location.client">
                                {{ location.client.name }}
                            </inertia-link>
                        </td>
                        <td class="border-t px-6 py-4">
                            <span>
                               {{ location.latitude }}
                            </span>
                        </td>
                        <td class="border-t px-6 py-4">
                            <span>
                               {{ location.longitude }}
                            </span>
                        </td>
                        <td class="border-t px-6 py-4">
                            <span>
                               {{ location.created_at }}
                            </span>
                        </td>
                        <td class="border-t w-px pr-2">
                            <div class=" flex items-center space-x-2">
                                <inertia-link
                                    :href="route('crash_locations.show', location.id)"
                                    tabindex="-1" class="text-indigo-600 hover:text-indigo-900">
                                    View
                                </inertia-link>
                                <a href="#"
                                   @click="deleteAction(location.id)"
                                   class="text-red-600 hover:text-red-900">Delete</a>
                            </div>
                        </td>
                    </tr>
                    <tr v-if="locations.length === 0">
                        <td class="border-t px-6 py-4 text-center" colspan="5">No locations found.</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <confirmation-modal :show="confirmingDeletion" @close="confirmingDeletion = false">
            <template #title>
                Delete Record
            </template>

            <template #content>
                Are you sure you want to delete record?
            </template>

            <template #footer>
                <secondary-button @click.native="confirmingDeletion = false">
                    Nevermind
                </secondary-button>

                <danger-button class="ml-2" @click.native="destroy" :class="{ 'opacity-25': processing }"
                                   :disabled="processing">
                    Delete Record
                </danger-button>
            </template>
        </confirmation-modal>
        <teleport to="head">
            <title>{{ pageTitle }}</title>
            <meta property="og:description" :content="pageDescription">
        </teleport>
    </app-layout>

</template>

<script>
import AppLayout from '@/Layouts/AppLayout.vue'
import ConfirmationModal from '@/Components/ConfirmationModal.vue'
import DangerButton from '@/Components/DangerButton.vue'
import SecondaryButton from '@/Components/SecondaryButton.vue'

export default {
    components: {
        AppLayout,
        ConfirmationModal,
        DangerButton,
        SecondaryButton,
    },
    props: {
        locations: Object,
        filters: Object,

    },
    data() {
        return {
            processing: false,
            confirmingDeletion: false,
            selectedRecord: null,
            pageTitle: "Crash Locations",
            pageDescription: "Manage Crash Locations",

        }
    },
    watch: {

    },
    methods: {
        deleteAction(id) {
            this.confirmingDeletion = true
            this.selectedRecord = id
        },
        destroy() {

            this.$inertia.delete(this.route('crash_locations.destroy', this.selectedRecord))
            this.confirmingDeletion = false
        },
    },
}
</script>

<style scoped>

</style>
