<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                <inertia-link class="text-indigo-400 hover:text-indigo-600" :href="route('crash_locations.index')">Crash
                    Location
                </inertia-link>
                <span class="text-indigo-400 font-medium">/</span># {{ location.id }}
            </h2>
        </template>
        <div class="mx-auto">
            <div class="md:flex md:items-start">
                <div class="bg-white relative shadow-xl mb-4 mt-4 w-full md:w-3/12 p-6">
                    <div class="col-span-12 lg:col-span-4 xxl:col-span-3 flex lg:block flex-col-reverse">
                        <div class="intro-y box mt-5 lg:mt-0">
                            <div class="flex justify-between">
                                <span class="font-medium">ID</span>
                                <span>{{ location.id }}</span>
                            </div>
                            <div class="flex justify-between">
                                <span class="font-medium">Client</span>
                                <span>
                                     <inertia-link class="" :href="route('clients.show', location.client.id)"
                                                   tabindex="-1" v-if="location.client">
                                {{ location.client.name }}
                            </inertia-link>
                                </span>
                            </div>
                            <div class="flex justify-between">
                                <span class="font-medium">Latitude</span>
                                <span>{{ location.latitude }}</span>
                            </div>
                            <div class="flex justify-between">
                                <span class="font-medium">Longitude</span>
                                <span>{{ location.longitude }}</span>
                            </div>
                            <div class="flex justify-between">
                                <span class="font-medium"></span>
                                <span>{{ location.created_at }}</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="w-full md:w-9/12 md:ml-4 bg-white sm:mt-4 p-6">
                    <h3>Map</h3>
                    <GoogleMap api-key="AIzaSyBVE76TSSKPDy9wcMWtxYB00wKJ50xQf_w" style="width: 100%; height: 500px"
                               :center="center" :zoom="15">
                        <Marker :options="{ position: center }">
                            <InfoWindow>
                                <div id="contet">
                                    <div id="siteNotice"></div>
                                    <h1 id="firstHeading" class="firstHeading">{{ location.client.name+' Crash Site' }}</h1>
                                    <div id="bodyContent">


                                    </div>
                                </div>
                            </InfoWindow>
                        </Marker>
                    </GoogleMap>
                </div>
            </div>
        </div>
        <teleport to="head">
            <title>{{ pageTitle }}</title>
            <meta property="og:description" :content="pageDescription">
        </teleport>
    </app-layout>

</template>

<script>
import AppLayout from '@/Layouts/AppLayout.vue'
import {GoogleMap, Marker,InfoWindow} from "vue3-google-map";


export default {
    components: {
        AppLayout,
        GoogleMap,
        Marker,
        InfoWindow
    },
    props: {
        location: Object,

    },
    data() {
        return {
            center: {lat: this.location.latitude, lng: this.location.longitude},
            confirmingUserDeletion: false,
            selectedRecord: null,
            pageTitle: "Client Profile",
            pageDescription: "Client Profile",

        }
    },
    watch: {},
    methods: {
        reset() {
            this.form = mapValues(this.form, () => null)
        },
        deleteAction(id) {
            this.confirmingUserDeletion = true
            this.selectedRecord = id
        },
        destroy() {

            this.$inertia.delete(this.route('clients.destroy', this.client.id))
            this.confirmingUserDeletion = false
        },
    },
}
</script>

<style scoped>

</style>
