<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                <inertia-link class="text-indigo-400 hover:text-indigo-600" :href="route('clients.index')">
                    Clients
                </inertia-link>
                <span class="text-indigo-400 font-medium">/</span> Edit
            </h2>
        </template>
        <div class="mx-auto">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-4">
                <form @submit.prevent="submit">

                    <div class="mt-4 grid grid-cols-1  gap-2">
                        <div class="">
                            <InputLabel for="name" value="Name"/>
                            <TextInput id="name" type="text" class=" block w-full" v-model="form.name"
                                       required/>
                            <InputError :message="form.errors.name" class="mt-2"/>
                        </div>
                    </div>
                    <div class="mt-4 grid grid-cols-1 md:grid-cols-1 gap-2">
                        <div class="">
                            <InputLabel for="phone_number" value="Phone "/>
                            <TextInput id="phone_number" type="text" class="mt-1 block w-full" v-model="form.phone_number"/>
                            <InputError :message="form.errors.phone_number" class="mt-2"/>
                        </div>
                        <div class="">
                            <InputLabel for="address" value="Address"/>
                            <TextInput id="address" type="text" class="mt-1 block w-full" v-model="form.address"/>
                            <InputError :message="form.errors.address" class="mt-2"/>
                        </div>
                    </div>
                    <div class="flex items-center justify-end mt-4">
                        <PrimaryButton class="ml-4" :class="{ 'opacity-25': form.processing }"
                                       :disabled="form.processing">
                            Save
                        </PrimaryButton>
                    </div>
                </form>
            </div>
        </div>
        <teleport to="head">
            <title>{{ pageTitle }}</title>
            <meta property="og:description" :content="pageDescription">
        </teleport>
    </app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout.vue'
import PrimaryButton from "@/Components/PrimaryButton.vue";

import InputError from "@/Components/InputError.vue";
import InputLabel from "@/Components/InputLabel.vue";
import TextInput from "@/Components/TextInput.vue";


export default {
    props: {
        client: Object,
    },
    components: {
        AppLayout,
        PrimaryButton,
        TextInput,
        InputLabel,
        InputError,
    },
    data() {
        return {
            form: this.$inertia.form({
                phone_number: this.client.phone_number,
                name: this.client.name,
                address: this.client.address,
            }),
            pageTitle: "Edit Client",
            pageDescription: "Edit Client",
        }

    },
    methods: {
        submit() {
            this.form.put(this.route('clients.update',this.client.id), {})

        },

    }
}
</script>
<style scoped>

</style>
