<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                <inertia-link class="text-indigo-400 hover:text-indigo-600" :href="route('clients.index')">Clients
                </inertia-link>
                <span class="text-indigo-400 font-medium">/</span> {{ client.name }}
            </h2>
        </template>
        <div class="mx-auto">
            <div class="md:flex md:items-start">
                <div class="bg-white relative shadow-xl mb-4 mt-4 w-full md:w-3/12 p-6">
                    <div class="col-span-12 lg:col-span-4 xxl:col-span-3 flex lg:block flex-col-reverse">
                        <div class="intro-y box mt-5 lg:mt-0">
                            <div class="flex justify-between">
                                <span class="font-medium">ID</span>
                                <span>{{ client.id }}</span>
                            </div>
                            <div class="flex justify-between">
                                <span class="font-medium">Name</span>
                                <span>{{ client.name }}</span>
                            </div>
                            <div class="flex justify-between">
                                <span class="font-medium">Phone</span>
                                <span>{{ client.phone_number }}</span>
                            </div>
                            <div class="flex justify-between">
                                <span class="font-medium">Address</span>
                                <span>{{ client.address }}</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="w-full md:w-9/12 md:ml-4 bg-white sm:mt-4 p-6">
                    <h3>Crash Locations</h3>
                    <table class="w-full whitespace-no-wrap mt-4">
                        <thead class="bg-gray-50">
                        <tr class="text-left font-bold">
                            <th class="px-6 pt-4 pb-4 font-medium text-gray-500">ID</th>
                            <th class="px-6 pt-4 pb-4 font-medium text-gray-500">Latitude</th>
                            <th class="px-6 pt-4 pb-4 font-medium text-gray-500">Longitude</th>
                            <th class="px-6 pt-4 pb-4 font-medium text-gray-500">Time</th>
                            <th class="px-6 pt-4 pb-4 font-medium text-gray-500">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="location in client.locations" :key="location.id"
                            class="hover:bg-gray-100 focus-within:bg-gray-100">
                            <td class="border-t px-6 py-4">
                                <inertia-link class="" :href="route('crash_locations.show', location.id)"
                                              tabindex="-1">
                                    {{ location.id }}
                                </inertia-link>
                            </td>
                            <td class="border-t px-6 py-4">
                            <span>
                               {{ location.latitude }}
                            </span>
                            </td>
                            <td class="border-t px-6 py-4">
                            <span>
                               {{ location.longitude }}
                            </span>
                            </td>
                            <td class="border-t px-6 py-4">
                            <span>
                               {{ location.created_at }}
                            </span>
                            </td>
                            <td class="border-t w-px pr-2">
                                <div class=" flex items-center space-x-2">
                                    <inertia-link
                                        :href="route('crash_locations.show', location.id)"
                                        tabindex="-1" class="text-indigo-600 hover:text-indigo-900">
                                        View
                                    </inertia-link>
                                </div>
                            </td>
                        </tr>
                        <tr v-if="client.locations.length === 0">
                            <td class="border-t px-6 py-4 text-center" colspan="4">No locations found.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <teleport to="head">
            <title>{{ pageTitle }}</title>
            <meta property="og:description" :content="pageDescription">
        </teleport>
    </app-layout>

</template>

<script>
import AppLayout from '@/Layouts/AppLayout.vue'


export default {
    components: {
        AppLayout,
    },
    props: {
        client: Object,

    },
    data() {
        return {

            confirmingUserDeletion: false,
            selectedRecord: null,
            pageTitle: "Client Profile",
            pageDescription: "Client Profile",

        }
    },
    watch: {},
    methods: {
        reset() {
            this.form = mapValues(this.form, () => null)
        },
        deleteAction(id) {
            this.confirmingUserDeletion = true
            this.selectedRecord = id
        },
        destroy() {

            this.$inertia.delete(this.route('clients.destroy', this.client.id))
            this.confirmingUserDeletion = false
        },
    },
}
</script>

<style scoped>

</style>
